.burger {
    opacity: 0;
    @media screen and (min-width: 280px) and (max-width: 1024px) {
        opacity: 1;
        font-size: 28px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        color: $greenLight;
        margin-top: 20px;
    }
}

.menu{
    li{
        line-height: 4rem;
        letter-spacing: 1rem;
        text-align: center;
        font-size: $fontSizeL;
        border-bottom: 1px solid $grayLight;
    }

    a {
                display: block;
                color: $grayLight;

                &:hover {
                    background: $greenLight;
                    color: #fff;
                }
            }

}