.clickPage {
    margin-top: 30px;
    @include centerMiddle;

    input {
        width: 42px;
        text-align: center;
    }

    a {
        width: 42px;
        height: 42px;
        display: block;
        margin: 0 20px 0 20px;
        line-height: 45px;
        text-align: center;
        border-radius: 8px;
        background-color: $greenLight;
        color: #fff;
    }

    p {
        margin-top: 15px;
        font-weight: 500;
        @media(min-width:1680px){
               font-size: 18px;
         }
    }

    .bi-chevron-right,
    .bi-chevron-left {
        font-weight: 800;
        font-size: 25px;
    }
}
