.lift {
   padding-right:10px;
   background-color: #fff;
   @media (max-width: 1200px){
       display: none;
   }
}

.cancelX {
    background-color: #fff;
    cursor: pointer;
}

.publishingInput {

    &:hover,
    &:focus {
        outline: 0 transparent;
        box-shadow: none;
        border: 1px solid #a0a0a050;
    }
}

.publishingbox {
    padding: 10px 10px 50px 10px;
    border: 1px solid #a0a0a050;
    border-radius: 10px;
    margin-bottom: 20px;
}

.AllBtnCancel {
    padding: 2px 5px;
    float: right;
    border: 1px solid #a0a0a050;

    &:hover {
        opacity: 0.5;
    }
}

//折疊
.txtspan{
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    i{
        font-size: 20px;
        opacity: 0.5;
    }
    p{
        font-size: 20px;
    }

}

.txtspanborder{
   p{
       width: 100%;
       border-bottom: 1px solid #a0a0a050;
   }
}


.collapse{
    margin-bottom:35px;
}
.mylabel{
    font-size: 20px;
    font-weight: 400;
}


.form-check-input{
    &:hover,&:focus{
                outline:0 transparent;
                box-shadow: none;
            }
}


.selectmybtn{
    margin-bottom: 15px;
    border: 1px solid #707070;
    &:hover,&:focus{
        outline:0 transparent;
        box-shadow: none;
    }
    @media screen and (min-width: 1200px){
        display: none;
    }
}


.yearsbox{
    padding: 10px;
    border: 1px solid #a0a0a050;
    border-radius: 10px;
    margin-bottom: 20px;
    p{
        margin: 0px 5px;
    }
}

.yearbtnwrap{
    width: 100%;
    display: flex;
    justify-content: center;
}
.rangeWrap{
    display: flex;
    .price-range-field{
        width: 30%;
        margin-bottom: 10px;
    }
}


.slider-range{
    width: 100% !important;
}

.ui-slider-horizontal{
    width: 100px;
}


.ui-slider-horizontal {
    margin: 0 auto;
    margin-bottom: 15px;
    width:95% !important;
}
.ui-widget-header {
    background:$greenLight  !important;
}


.main{
    .offcanvas-start{
        width:80vw;
    }
    .collapseList{
        p{
            width: 100%;
       border-bottom: 1px solid #a0a0a050;
        }
    }
}