
.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    background-color: $greenDark;
    color: #fff;
    margin: 100px 0px -15px 0px;
    @media(min-width:1680px){
        p{
           font-size: 18px;
        }
     }
}

.top {
    position: absolute;
    bottom: 2%;
    right: 3%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $orange;
    color: #fff;
    text-align: center;
    font-size: 30px;
    position: fixed;
    font-weight: 900;
}

.longinFooter{
    position: absolute;
    bottom: -190px;
}