
.newFooter {
    position: relative;
}

.footerContent {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.footerContentItemUl{
    display: flex;
}

.footerContentItemUla{
    color: #fff;
    padding: 0px 10px;
    text-decoration: underline;
    &:hover{
      color: #fff;
      opacity: 0.7;
    }
}

//網頁版
@media(min-width:730px){
  .copyrightTxt{
    padding-top: 15px;
  }
  .phonetxt{
    display: none;
  }

  .footerContentTxt{
    margin-top: 30px;
    font-size: 16px;
  }
}

//手機版
@media(max-width:730px){

.footerContentTxt{
  margin-bottom: 0;
}

  .footerpic{
    height: 30vh;
  }

  .webtxt{
    display: none;
  }
}

.phonetxt{
  text-align: center;
  padding-top: 50px;
  p{ margin: 0;}
}