.hrTitle {
   width: 100%;
   height: 100%;
   @include centerMiddle;
   letter-spacing: 1.5rem;
   font-size: 22px;
   font-weight: 500;
   color: #fff;
   background-color: rgba(0, 0, 0, 0.1);

   p {
      text-align: center;
   }
}

.mainBox {
   @include centerMiddle;
   flex-wrap: wrap;
}

.infoImg {
   width: 20%;
padding:0px 10px;
   img {
      width: 100%;
   }

   @media(max-width:1024px) {
      width: 100%;
   }
}

.infoTxt {
   width: 80%;

   .infoTitle {
      font-weight: 800;
   }

   p{
      font-size: 18px;
      margin-bottom: 0rem;
   }

   @media(max-width:1024px) {
      width: 100%;
   }

   @media(min-width:1680px) {
      p {
         font-size: 20px;
      }
   }

}

.infoBtn {
   float: right;
}

.resultSummary{
   @media(min-width:1680px){
      p{
         font-size: 20px;
      }
   }
}