.title {
    font-size: 22px;
    @include centerMiddle;
    width: 100%;
    margin-top: 40px;
    color:$greenDark;
}

.indexBanner{
    height: 200px;
    padding-top: 10px;
}


.searchwrap{
    display: flex;
    justify-content: center;
    margin:0 auto;
        input {
        width: 400px;
        @media(max-width:1024px){
            margin-left: -10px;
            width:80%;
            font-size: 14px;
    }
}}

.news{
    margin: 0 auto;
    border-radius: 10px;
    padding: 15px 15px 15px 50px;
    background-color:rgba(255,255,255,0.5);
    line-height: 2.5rem;
    @include shadow;
    li{
       list-style: square;
    }
    @media(min-width:1680px){
        a{
           font-size: 20px;
        }
     }
}

.organic{
    margin: 0 auto;
    border-radius: 10px;
    @include shadow;
    img{
        width: 100%;
    }
}


