.loginBox_wrap {
    width: 100%;
    height: 70vh;
    @include centerMiddle;
    label{
        @media(min-width:1680px){
               font-size: 18px;
         }
    }
}

.loginBox {
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);
}

.loginBox_title {
    text-align: center;
    line-height: 65px;
    background-color: $greenLight;
    color: #fff;
    border-radius: 5px;
    font-size: $fontSizeL;
}

.loginBox_txt {
    margin: 20px 0px 4px 0px;
    font-size: $fontSizeS;
}

.loginBox_forgetLink {
    margin-top: 10px;
    color: #f05050;
    float: right;

    &:hover {
        color: $orange;
    }
}

.loginBox_btn {
    @include Btn;
    margin-top: 40px;
    margin-left: 100px;
    background-color: $orange !important;
}

.smfooter {
    opacity: 0;
    @media (max-width: 1024px) {
        opacity: 1;
        width: 100%;
        text-align: center;
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 12px;
        color: #0a5947;
    }
}
