@mixin Btn {
    width: 120px;
    background-color: $greenLight;
    border-radius: 8px;
    color: #fff;
    font-size: $fontSizeS;
    @media(min-width:1680px){
           font-size:18px;
     }


    a {
        color: #fff;
        &:hover {
            color: #fff;
        }
    }

    &:hover {
        opacity: 0.8;
        color: #fff;
    }
}

@mixin shadow {
    box-shadow: 2px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

@mixin centerMiddle {
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin pdfBtn {
    padding: 3px 8px 3px;
    border-radius: 5px;
    background-color: red;
    a{
        color: #fff;
        font-weight: 500;
    }
} 