.modBox{
    width: 100%;
    display: flex;
    .likeIcon{
        font-size: 22px;
    }
}

@media(min-width:1030px) {

    .modImg{
        width: 30%;
        img{
            width:100%;
            height: 100%;
        }
    }
    
    .modTxt{
        width: 70%;
        padding-left:10px;
        @media(min-width:1680px){
            p{
               font-size: 18px;
            }
         }
    }

}

@media(max-width:1030px) {
    .modBox{position: relative;flex-wrap: wrap;}
    .modImg{
        width:100%;
        img{
            width:100%;
        }
        padding-top: 10px;
    }
    
    .modTxt{
        padding-top: 10px;
        width:100%;
    }
    .likeIcon{
        position: absolute;
        right:3%;
        top: 1%;
    }
}
.resultTitle{
    @media(min-width:1680px){
        p{
           font-size: 18px;
        }
     }
}
.resultSummary,.resultSideSummary{
    @media(min-width:1680px){
           font-size: 20px;
     }

}