nav {
    display: flex;

    @media (max-width: 576px) {
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }
}

.navIcon {
    width: 278px;

    @media (max-width: 576px) {
        width: 100%;
    }

    img {
        max-width: 100%;
    }
}

.btn-close-Menu {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    color: $grayLight;
}

.nav_content {
    width: 100%;
    justify-content: center;
    display: flex;

    li {
        padding: 0 30px;

        .nav_line {
            color: $grayLight;
            border-bottom: 2px solid transparent;
            @media(min-width:1680px){
                border-bottom: 3px solid transparent;
            }
            &:hover {
                color: #000;
                border-bottom: 2px solid #000;
                transition: 0.3s;
                @media(min-width:1680px){
                    border-bottom: 3px solid #000;
                }
            }
        }
        @media(min-width:1680px){
            a{
               font-size: 20px;
            }
         }
    
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

.offcanvas-header {
    .btn-close {
        font-size: 25px;
        color: $grayLight !important;
        &:hover {
            transition: 0.7s;
            transform: rotate(45deg);
        }
    }
}

.nav_dropdown {
    min-width: 120px;
    cursor: pointer;
    @media (max-width: 576px) {
        display: none;
    }
    p {
        margin-bottom: 0;
    }
}

.dropdown-menu {
    li {
        text-align: center;
        line-height: 3rem;

        a {
            color: #000;

            &:hover {
                opacity: 0.5;
                font-size: 22px;
                transition: 0.3s;
            }
        }
    }

    li:not(:last-child) {
        border-bottom: 1px solid #000;
    }
}

