.chartWrap {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @media(min-width:1680px){
        p{
           font-size: 20px;
        }
     }
}

canvas {
   width: 100%;
   @media(max-width:1024px){
        max-width: 100%;
   }
   
}

.chartTxt{
    margin-top: 15px;
    display: flex;
    justify-content:space-around;   
    h3{
        white-space:nowrap;
    }
}

.chartCompute{
    float: right;
}

.greenComputeNum {
    color: $greenLight;
}
.orangeComputeNum {
    color: $orange;
}