* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
    box-sizing: border-box;
    background-image: url("../assets/background@2x.png");
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
    &:hover {
        color: rgba($color: #000000, $alpha: 0.5);
    }
}

ol,
ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style: none;
}

p,
label {
    font-size: $fontSizeS;
}
