.line {
    display: flex;
    justify-content: center;
    text-align: center;

    img {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: 1024px) {
            max-width: 100%;
            height: 60px;
        }
    }
}

.resultContent {
    @include centerMiddle;
    margin: 0 auto;
    padding: 15px;
}

.resultTitle,
.resultDetail,
.resultSummary,
.resultSideSummary {
    //@include shadow;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    p {
        margin-bottom: 0;
    }
}

.resultSummary {
    iframe {
        width: 100%;
        height: 600px;
        @media (max-width: 576px) {
            height: 200px;
        }
    }
    &_image {
        @media (max-width: 576px) {
            margin-bottom: 15px;
            img {
                width: 100%;
            }
        }
    }
}

.backpage{
    text-align: center;
    button{
        @include Btn;
    }
}

