.banner {
    width: 100%;
    text-align: center;
    background-image: url("../assets/banner.png");
    background-repeat:repeat ;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-radius: 20px;
}

.bookTxt {
    padding-top: 20px;
    text-align: center;
    font-size: $fontSizeL;
    color: #000;
    img{width: 35px;
    height: 30px;}
}

.enterFrom {
    @include centerMiddle;
    flex-wrap: wrap;
    padding: 15px;

    input {
        margin-left: -10px;
    }
}

.form-select {
    margin-bottom: 15px;

    @media (min-width: 1024px) {
        width: 156px;
        margin-right: 20px;
        margin-bottom: 0;
    }
}

.form-control {
    @media (min-width: 1024px) {
        width: 320px;
    }
}

.dropDown {
    padding: 10px 2px 10px;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    @include Btn;
    background-color: $orange !important;
}

.modal-content {
    padding: 15px;
}

.modalTitle {
    padding: 15px 0px 15px 0px;
    background-color: $greenLight;
    border-radius: 5px;
    text-align: center;
    font-size: $fontSizeL;
    color: #fff;

    .btn-close {
        position: absolute;
        right: 50px;
    }
}

.modalBody {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .modalItem {
        width: 100%;
    }

    .modalItem_half {
        width: 45%;
    }

    input {
        width: 100%;
        margin-bottom: 15px;
        border-radius: 8px;
    }

    select{
        margin-bottom: 10px;
        width: 100%;
        height: 35px;
    }

    .modelBtnWrap {
        width: 100%;
        text-align: center;
        margin-top: 10px;

        .modelBtn {
            @include Btn;
            background-color: $orange !important;
        }
    }
    label{
        @media(min-width:1680px){
               font-size: 18px;
         }
    
    }
}

.documentContent {
    display: flex;
    justify-content: center;

    .main {
        position: relative;
    }

    .showarticle {
        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 1024px) {
            position: relative;
        }
    }
}

// .lift {
//     @media (max-width: 1024px) {
//         display: none;
//     }

//     .borderOrange {
//         margin-top: 15px;
//         width: 134px;
//         height: 1px;
//         text-align: center;
//         background-color: $orange;
//     }

//     h3 {
//         margin: 15px 0px 15px 0px;
//     }
//     label{
//         font-size: 18px;
//         @media(min-width:1680px){
//                font-size: 20px;
//          }
//     }
// }

.statistics {
    @media (max-width: 1024px) {
        text-align: center;
    }
   
@media(min-width:1680px){
       font-size:18px;
 }
}

.countNum {
    color: $greenLight;
}


.mainContent {
    position: relative;
    margin: 30px 0px 15px 0px;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    @include shadow;

    @media (max-width: 576px) {
        margin-left: 0px;
    }

    .detail {
        color: $grayLight;
    }

    .PeriodicalTab {
        width: 48px;
        text-align: center;
        line-height: 2rem;
        background-color: $greenLight;
        border-radius: 5px;
        color: #fff;

        @media (min-width: 1024px) {
            position: absolute;
        }

        @media (max-width: 1024px) {
            padding: 5px 10px;
        }
    }

    .mainTxt {
        position: relative;

        @media (min-width: 1024px) {
            margin-left: 100px;
            margin-top: -15px;
        }

        h3 {
            color: #000;

            &:hover {
                opacity: 0.5;
            }
        }
        @media(min-width:1680px){
            p{
               font-size: 18px;
            }
         }
    }

    .bi-suit-heart-fill {
        color: red;
    }

    .collectionIcon {
        margin-top: -30px;
        position: absolute;
        font-size: 25px;
        right: 0;
        top: 0;

        @media (min-width: 1024px) {
            margin-top: -24px;
        }
    }
}

.xclose {
    &:hover {
        transition: 0.7s;
        transform: rotate(45deg);
    }
}

.pdfTab {
    @media(min-width:1030px) {
        position: absolute;
        top: 20%;
    }
    @media(max-width:1020px) {
        margin-left:10px;
        padding: 5px 10px;
    }

    @include pdfBtn;
}


.element {
    left: -5%;
    position: relative;
    @media(max-width:400px){
        width: 100%;
    }
}

.addlike{
    @media(max-width:400px){
        padding-left: 10px;
    }
}
.seachResultPdfBtn {
   
    @media(min-width:1000px){
        position: absolute;
        top: -15%;
        right: -75%;
    }
    @media(max-width:996px){
        position: absolute;
bottom: -35px;
right: -5px;
    }
    @media(max-width:400px){
        bottom: -8px; 
    }

    @include pdfBtn;
}

.resultTitle{
    @media(max-width:996px){
        margin-top: 20px;
    }
}






