// color
$greenLight: #73caa6;
$greenDark: #0a5947;
$grayLight: #8c8c8c;
$orange: #ee910f;

//check
$form-check-input-width: 1.3em;
$form-check-min-height: 1.3em;
$form-check-input-checked-color: #fff;
$form-check-input-checked-bg-color: $grayLight;
$form-check-input-border: 1px solid $grayLight;

//fontSize
$fontSizeS: 14px;
$fontSizeM: 16px;
$fontSizeL: 22px;

//modelClose
$btn-close-color: #fff;
$btn-close-opacity: 1;
