@import "./variables";
@import "../libs/bootstrap-5.0.0/scss/bootstrap.scss";
@import "./mixin";
@import "./reset";
@import "./login";
@import "./search";
@import "./result";
@import "./report";
@import "./mod";
@import "./hr";
@import "./index";
@import "./header";
@import "./nav";
@import "./offcanvas";
@import "./burger";
@import "./footer";
@import "./clickpage";
@import "./collist";
@import "./footertxt";
h3 {
    font-size: $fontSizeL;
}

.wrap {
    width: 100vw;
}

.Btn {
    @include Btn;
}

.searchICon {
    margin-top: 8px;
    margin-left: -30px;
}

.ICon {
    margin-top: 4px;
}

.text-primary-aliy {
    color: $greenDark;
}


.bi-person-fill {
    display: none;

    @media (max-width: 576px) {
        display: block;
        font-size: 35px;
    }
}

.userdropdown {
    display: none;

    @media (max-width: 576px) {
        display: block;
    }
}

.wrap {
    position: relative;
}

.copy {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    text-align: center;
    color:#fff;
}